  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>

  <div class="batman_footer">
<div class="position-absolute position-absolute-footer top-100 start-50 translate-middle w-100">
  <!-- Footer -->
  <footer class="text-center text-dark">
          <div class="nav-item space-between-sm">
            <div class="row row-footer justify-content-between">
              <!-- Social Links -->
              <div class="col-12 col-md-4 text-md-end">
                <!-- Telegram -->
                <a href="https://t.me/batmanam2" class="icon-link icon-link-black">
                  <i class="bi bi-telegram"></i>
                </a>
                <!-- GitHub -->
                <a href="https://github.com/mehran-sfz" class="icon-link icon-link-black">
                  <i class="bi bi-github"></i>
                </a>
              </div>
              
              <!-- Version Text -->
              <div class="col-12 col-md-4 text-md-start">
                <p class="mb-0 text-version">Version 1.0.4</p>
              </div>
            </div>
  </footer>
  <!-- Footer --> 
</div>
</div>


<style>
  .container-footer-custom{
    position: fixed;
    overflow: hidden;
  }

  /* Ensure there's space from the edges */
  .row-footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .batman_footer{
    padding-top: 30px;
    overflow: hidden;
  }

  .icon-link-black{
    color: #2C3333;
  }

  .icon-link-black:hover{
    color: black;
  }

  .text-version{
    color: #2C3333;
  }

  .text-version:hover{
    color: black;
  }

  .position-absolute-footer{
    background-color: RGBA(255, 255, 255, 0.0);
    overflow: hidden;
    position: relative;
  }

</style>