<!DOCTYPE html>
<html lang="fa" dir="rtl">
  {% load static %}
  {% load custom_filters %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ادمین - سفارشات</title>
    <link
      rel="shortcut icon"
      href="{% static 'logo/batman_logo_y.png' %}"
      type="image/x-icon"
    />

    <!-- Import Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap Icons -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link href="{% static 'css/admin.css' %}" rel="stylesheet" />
  </head>

  <body class="p-4" style="overflow-y: auto">
    <!-- Alert Messages -->
    {% include "includes/alert.html" %}
    {% include "includes/admin/navigation.html" %}

    
    <!-- Table Section for Orders -->
    <section id="ordersTable" class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="table-wrap table-responsive">
              <table class="table table-hover custom-table">
                <h2>سفارشات</h2>
                <thead>
                  <tr>
                    <th>شماره</th>
                    <th>کانفیگ</th>
                    <th>تاریخ سفارش</th>
                    <th>پلن</th>
                    <th>وضعیت پرداخت</th>
                    <th>وضعیت سفارش</th>
                    <th>گزینه‌ها</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <th scope="row">{{ order.pk }}</th>
                    <td>{{ order.name }}</td>
                    <td>{{ order.created_date|to_jalali }}</td>
                    <td>{{ order.plan }}</td>
                    <td>
                      {% if order.status %}
                      <span class="badge bg-success">پرداخت شده</span>
                      {% else %}
                      <span class="badge bg-danger">پرداخت نشده</span>
                      {% endif %}
                    </td>
                    <td>
                      {% if not order.name %}
                      <span class="badge bg-black">کانفیگ/کاربر پاک شده</span>
                      {% elif order.pending %}
                      <span class="badge bg-warning">رزرو شده</span>
                      {% else %}
                      <span class="badge bg-dark">اعمال شده</span>
                      {% endif %}
                    </td>
                    <td>
                      
                      {% if order.pending and order.name and not order.order_payment %}
                      <form
                        class="d-inline"
                        action="{% url 'deleteorderadmin' %}"
                        method="post"
                      >
                        {% csrf_token %}
                        <input
                          type="hidden"
                          name="order_pk"
                          value="{{ order.pk }}"
                        />
                        <button type="submit" class="btn btn-outline-danger btn-click">
                          لغو
                        </button>
                      <div class="p-2 g-col-6">
                      </form>
                      {% endif %}
                      <a class="btn btn-outline-primary btn-click toggle-details"
                      data-target="#paymentDetails{{ order.pk }}">جزئیات</a>
                      </div>
                    </td>
                  </tr>

                  <!-- Hidden Payment Details Row -->
                  <tr id="paymentDetails{{ order.pk }}" class="payment-details-row" style="display: none;">
                    <td colspan="7">
                        <div class="payment-details">
                        <p>uuid : {{ order.config.uuid }}</p>
                        {% if order.order_payment %}
                        <p>
                          <strong>تاریخ پرداخت:</strong> {{ order.order_payment.created_date|to_jalali }}
                        </p>
                        <p>
                          <strong>لینک تصویر رسید:</strong>
                          <a
                            href="{{ order.order_payment.screenshot.url }}"
                            target="_blank"
                            >مشاهده رسید</a
                          >
                        </p>
                        {% if order.order_payment.tracking_code %}
                        <p>
                          <strong>کد پیگیری:</strong> {{ order.order_payment.tracking_code }}
                        </p>
                        {% endif %}
                        <p><strong>وضعیت اعتبار:</strong>
                        {% if order.order_payment.validated %}
                        <span class="badge bg-success">تأیید شده</span>
                        {% else %}
                        <span class="badge bg-danger">تأیید نشده</span>
                        <form
                          class="d-inline"
                          action="{% url 'confirmorderadmin' %}"
                          method="post"
                        >
                          {% csrf_token %}
                          <input
                            type="hidden"
                            name="payment_pk"
                            value="{{ order.order_payment.pk }}"
                          />
                          <input
                            type="hidden"
                            name="confirm_payment"
                            id="confirmPaymentInput"
                          />

                          <button
                            type="button"
                            class="btn btn-outline-success confirm-btn"
                            data-value="true"
                          >
                            تایید پرداخت
                          </button>
                          <button
                            type="button"
                            class="btn btn-outline-danger reject-btn"
                            data-value="false"
                          >
                            رد پرداخت
                          </button>
                        </form>
                        {% endif %}
                    </p>
                        {% else %}
                        <p>هیچ اطلاعات پرداختی موجود نیست.</p>
                        {% endif %}
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
              </table>
            </tbody>
              <!-- Pagination Controls -->
              <div class="d-flex justify-content-center">
                {% if orders.has_other_pages %}
                <ul class="pagination">
                  {% if orders.has_previous %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ orders.previous_page_number }}"
                      >قبلی</a
                    >
                  </li>
                  {% endif %}
                  <li class="page-item">
                    <a class="page-link">{{ orders.number }}</a>
                  </li>
                  {% if orders.has_next %}
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page={{ orders.next_page_number }}"
                      >بعدی</a
                    >
                  </li>
                  {% endif %}
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "includes/footer.html" %}
  </body>
</html>


<style>
  /* Custom CSS for spacing */
  .navbar-nav .nav-item {
    margin-right: 15px; /* Spacing for large screens */
  }

  /* For small screens (max-width: 768px) */
  @media (max-width: 768px) {
    .navbar-nav .nav-item {
      margin-right: 10px; /* Adjust spacing for small screens */
      margin-bottom: 10px; /* Add vertical space for stacked buttons */
    }
  }

</style>

<!-- Bootstrap JS and Custom Script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

